# Data Importing

In [1]:
import numpy as np
import pandas as pd
import category_encoders as ce

from utils import null_checker, evaluate_model
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
from catboost import CatBoostRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression, Lasso, Ridge

In [2]:
df = pd.read_csv('../data/processed/after_prep.csv')
df.head()

,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Seats,Price,Brand,Series,Type,Mileage (kmpl),Engine (CC),Power (bhp)
0,Mumbai,2010,72000,CNG,Manual,First,5.0,1.75,Maruti,Wagon,R,26.60,998.0,58.16
1,Pune,2015,41000,Diesel,Manual,First,5.0,12.50,Hyundai,Creta,1.6,19.67,1582.0,126.20
2,Chennai,2011,46000,Petrol,Manual,First,5.0,4.50,Honda,Jazz,V,18.20,1199.0,88.70
3,Chennai,2012,87000,Diesel,Manual,First,7.0,6.00,Maruti,Ertiga,VDI,20.77,1248.0,88.76
4,Coimbatore,2013,40670,Diesel,Automatic,Second,5.0,17.74,Audi,A4,New,15.20,1968.0,140.80

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019 entries, 0 to 6018
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Location           6019 non-null   object
 1   Year               6019 non-null   int64
 2   Kilometers_Driven  6019 non-null   int64
 3   Fuel_Type          6019 non-null   object
 4   Transmission       6019 non-null   object
 5   Owner_Type         6019 non-null   object
 6   Seats              5976 non-null   float64
 7   Price              6019 non-null   float64
 8   Brand              6019 non-null   object
 9   Series             6019 non-null   object
 10  Type               6019 non-null   object
 11  Mileage (kmpl)     5951 non-null   float64
 12  Engine (CC)        5983 non-null   float64
 13  Power (bhp)        5876 non-null   float64
dtypes: float64(5), int64(2), object(7)
memory usage: 658.5+ KB

# Preprocessing

In [4]:
# Delete outlier
df = df[~(df.Kilometers_Driven > 1e6)]
df.shape

(6018, 14)

In [5]:
# Drop missing values
df = df.dropna()
null_checker(df)

                   null (sum)  null (%)
Location                    0       0.0
Year                        0       0.0
Kilometers_Driven           0       0.0
Fuel_Type                   0       0.0
Transmission                0       0.0
Owner_Type                  0       0.0
Seats                       0       0.0
Price                       0       0.0
Brand                       0       0.0
Series                      0       0.0
Type                        0       0.0
Mileage (kmpl)              0       0.0
Engine (CC)                 0       0.0
Power (bhp)                 0       0.0

## Train test split

In [6]:
# melakukan train test split di awal untuk mencegah data leakage
X = df.drop(columns=['Price'])
y = df['Price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

## Encoding

In [7]:
# Define category mapping for label encoding
mapping_owner = {
    'First': 1, 
    'Second': 2, 
    'Third': 3, 
    'Fourth & Above': 4
}
mapping_trans = {
    'Manual': 0, 
    'Automatic': 1, 
}

# Encoding train set
X_train["Owner_Type"] = X_train["Owner_Type"].map(mapping_owner)
X_train["Transmission"] = X_train["Transmission"].map(mapping_trans)
# Encoding test set
X_test["Owner_Type"] = X_test["Owner_Type"].map(mapping_owner)
X_test["Transmission"] = X_test["Transmission"].map(mapping_trans)

In [8]:
# One hot encoding for low cardinality feature + Brand
col_to_encode = ['Location', 'Fuel_Type', 'Brand']
oh_encoder = ce.OneHotEncoder(cols=col_to_encode,
                              use_cat_names=True)
oh_encoder.fit(X_train)

# Encoding train set
X_train = oh_encoder.transform(X_train)
# Encoding test set
X_test = oh_encoder.transform(X_test)

In [9]:
# Target encoding for high cardinality feature
col_to_encode = X_train.select_dtypes("object").columns
encoder = ce.TargetEncoder(cols=col_to_encode)
encoder.fit(X_train, y_train)

# Encoding train set
X_train = encoder.transform(X_train)
# Encoding test set
X_test = encoder.transform(X_test)

# Modeling

## Base Model

In [10]:
tree_model = DecisionTreeRegressor()
rf_model = RandomForestRegressor()
xgb_model = XGBRegressor()
lgb_model = LGBMRegressor()
cat_model = CatBoostRegressor(silent=True)
lr_model = LinearRegression()
lasso_model = Lasso()
ridge_model = Ridge()

models = {'DecisionTree' : tree_model,
          'RandomForest' : rf_model,
          'XGBoost' : xgb_model,
          'CatBoost' : cat_model,
          'LightGBM' : lgb_model,
          'Linear': lr_model,
          'Lasso': lasso_model,
          'Ridge': ridge_model}

### Unscaled dataset

In [11]:
# evaluasi model memakai function
unscaled = evaluate_model(models, X_train, X_test, y_train, y_test)

### Scaled dataset

In [12]:
# Scaling data
from sklearn.preprocessing import RobustScaler

scaler = RobustScaler()
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [13]:
# evaluasi model memakai function
scaled = evaluate_model(models, X_train_scaled, X_test_scaled, y_train, y_test)

### Summarizing

In [14]:
unscaled['Dataset Version'] = 'dropna + all + unscaled'
scaled['Dataset Version'] = 'dropna + all + scaled'

In [15]:
dropna_all = pd.concat([unscaled, scaled], axis=0)
dropna_all

,Fit Time,Train R2,CV R2,Test R2,Train RMSE,CV RMSE,Test RMSE,Dataset Version
Model,,,,,,,,
CatBoost,3.4798,0.9925,0.9253,9.254000e-01,0.9495,2.9393,3.207000e+00,dropna + all + unscaled
LightGBM,0.2190,0.9732,0.9192,9.035000e-01,1.7933,3.0784,3.647700e+00,dropna + all + unscaled
XGBoost,0.4057,0.9975,0.9143,8.948000e-01,0.5442,3.1510,3.809100e+00,dropna + all + unscaled
RandomForest,2.9140,0.9879,0.9132,9.021000e-01,1.2068,3.1995,3.675200e+00,dropna + all + unscaled
DecisionTree,0.0495,1.0000,0.8545,7.682000e-01,0.0131,4.1654,5.653900e+00,dropna + all + unscaled
Ridge,0.0100,0.8199,0.8127,7.699000e-01,4.6498,4.7376,5.633600e+00,dropna + all + unscaled
Linear,0.0258,0.8203,0.8122,7.693000e-01,4.6453,4.7447,5.640500e+00,dropna + all + unscaled
Lasso,0.0150,0.7994,0.7988,7.517000e-01,4.9078,4.9099,5.852300e+00,dropna + all + unscaled
CatBoost,3.2751,0.9925,0.9253,9.254000e-01,0.9495,2.9393,3.207000e+00,dropna + all + scaled
LightGBM,0.2302,0.9734,0.9188,9.034000e-01,1.7881,3.0829,3.649300e+00,dropna + all + scaled
XGBoost,0.5187,0.9975,0.9143,8.947000e-01,0.5442,3.1511,3.810700e+00,dropna + all + scaled
RandomForest,2.9288,0.9878,0.9142,9.021000e-01,1.2105,3.1771,3.673600e+00,dropna + all + scaled
DecisionTree,0.0521,1.0000,0.8497,7.629000e-01,0.0131,4.2368,5.717800e+00,dropna + all + scaled
Ridge,0.0061,0.8199,0.8127,7.698000e-01,4.6498,4.7375,5.634000e+00,dropna + all + scaled
Linear,0.0223,0.8203,0.8121,-1.331272e+18,4.6454,4.7454,1.354986e+10,dropna + all + scaled
Lasso,0.0081,0.7688,0.7677,6.848000e-01,5.2688,5.2659,6.592900e+00,dropna + all + scaled

In [16]:
dropna_all.to_csv('../data/processed/summary_dropna_all.csv')