# Data Understanding

In [ ]:
# !pip install -r requirements.txt

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import data_exploration as explor
import plotly.graph_objects as go
import plotly.express as px
import missingno as msno
import category_encoders as ce
import miceforest as mf

from sklearn.model_selection import train_test_split, cross_val_score, cross_validate, KFold
from sklearn.tree import DecisionTreeRegressor
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
from catboost import CatBoostRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LinearRegression, Lasso
import optuna
import lightgbm as lgb
import xgboost as xgb
import catboost as cb

In [3]:
sns.set(style='darkgrid', palette='muted')

In [4]:
df = pd.read_csv('used_car_data.csv')

In [5]:
df.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,17.74

In [6]:
df.shape

(6019, 12)

In [7]:
df[df['Mileage'].isna()]

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
4446,Mahindra E Verito D4,Chennai,2016,50000,Electric,Automatic,First,NaN,72 CC,41 bhp,5.0,13.00
4904,Toyota Prius 2009-2016 Z4,Mumbai,2011,44000,Electric,Automatic,First,NaN,1798 CC,73 bhp,5.0,12.75

In [8]:
explor.null_checker(df)

                   null (sum)  null (%)
Seats                      42      0.70
Engine                     36      0.60
Power                      36      0.60
Mileage                     2      0.03
Name                        0      0.00
Location                    0      0.00
Year                        0      0.00
Kilometers_Driven           0      0.00
Fuel_Type                   0      0.00
Transmission                0      0.00
Owner_Type                  0      0.00
Price                       0      0.00

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019 entries, 0 to 6018
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               6019 non-null   object
 1   Location           6019 non-null   object
 2   Year               6019 non-null   int64
 3   Kilometers_Driven  6019 non-null   int64
 4   Fuel_Type          6019 non-null   object
 5   Transmission       6019 non-null   object
 6   Owner_Type         6019 non-null   object
 7   Mileage            6017 non-null   object
 8   Engine             5983 non-null   object
 9   Power              5983 non-null   object
 10  Seats              5977 non-null   float64
 11  Price              6019 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 564.4+ KB

In [10]:
df['Brand'] = df['Name'].apply(lambda x: x.split(' ')[0])
df['Series'] = df['Name'].apply(lambda x: x.split(' ')[1])
df['Type'] = df['Name'].apply(lambda x: x.split(' ')[2])
df.drop(columns='Name', inplace=True)

In [11]:
df.head()

,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Brand,Series,Type
0,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,1.75,Maruti,Wagon,R
1,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,12.50,Hyundai,Creta,1.6
2,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,4.50,Honda,Jazz,V
3,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,6.00,Maruti,Ertiga,VDI
4,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,17.74,Audi,A4,New

In [12]:
df[(df['Engine']=='72 CC')]

,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Brand,Series,Type
4446,Chennai,2016,50000,Electric,Automatic,First,NaN,72 CC,41 bhp,5.0,13.0,Mahindra,E,Verito

In [13]:
print('Satuan pada feature Mileage:', df['Mileage'].apply(lambda x: x if pd.isna(x) else x.split(' ')[1]).unique())
print('Satuan pada feature Engine:', df['Engine'].apply(lambda x: x if pd.isna(x) else x.split(' ')[1]).unique())
print('Satuan pada feature Power:', df['Power'].apply(lambda x: x if pd.isna(x) else x.split(' ')[1]).unique())

Satuan pada feature Mileage: ['km/kg' 'kmpl' nan]
Satuan pada feature Engine: ['CC' nan]
Satuan pada feature Power: ['bhp' nan]

In [14]:
print('Invalid Value pada feature Mileage:', pd.Series([x for x in df['Mileage'] if str(x).split(' ')[0].isalpha()]).unique())
print('Invalid Value pada feature Engine:', pd.Series([x for x in df['Engine'] if str(x).split(' ')[0].isalpha()]).unique())
print('Invalid Value pada feature Power:', pd.Series([x for x in df['Power'] if str(x).split(' ')[0].isalpha()]).unique())

Invalid Value pada feature Mileage: [nan]
Invalid Value pada feature Engine: [nan]
Invalid Value pada feature Power: ['null bhp' nan]

In [15]:
df['Mileage'].apply(lambda x: x if pd.isna(x) else x.split(' ')[1]).value_counts()

kmpl     5951
km/kg      66
Name: Mileage, dtype: int64

In [16]:
df['Mileage (kmpl)'] = df['Mileage'].apply(lambda x: x if pd.isna(x) else x.split(' ')[0])
df['Engine (CC)'] = df['Engine'].apply(lambda x: x if pd.isna(x) else x.split(' ')[0])
df['Power (bhp)'] = df['Power'].apply(lambda x: x if pd.isna(x) else x.split(' ')[0])

df['Mileage (kmpl)'] = pd.to_numeric(df['Mileage (kmpl)'], errors='coerce')
df['Engine (CC)'] = pd.to_numeric(df['Engine (CC)'], errors='coerce')
df['Power (bhp)'] = pd.to_numeric(df['Power (bhp)'], errors='coerce')

df.drop(columns=['Mileage', 'Engine', 'Power'], inplace=True)

In [17]:
df.head()

,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Seats,Price,Brand,Series,Type,Mileage (kmpl),Engine (CC),Power (bhp)
0,Mumbai,2010,72000,CNG,Manual,First,5.0,1.75,Maruti,Wagon,R,26.60,998.0,58.16
1,Pune,2015,41000,Diesel,Manual,First,5.0,12.50,Hyundai,Creta,1.6,19.67,1582.0,126.20
2,Chennai,2011,46000,Petrol,Manual,First,5.0,4.50,Honda,Jazz,V,18.20,1199.0,88.70
3,Chennai,2012,87000,Diesel,Manual,First,7.0,6.00,Maruti,Ertiga,VDI,20.77,1248.0,88.76
4,Coimbatore,2013,40670,Diesel,Automatic,Second,5.0,17.74,Audi,A4,New,15.20,1968.0,140.80

In [18]:
df.describe()

,Year,Kilometers_Driven,Seats,Price,Mileage (kmpl),Engine (CC),Power (bhp)
count,6019.000000,6.019000e+03,5977.000000,6019.000000,6017.000000,5983.000000,5876.000000
mean,2013.358199,5.873838e+04,5.278735,9.479468,18.134961,1621.276450,113.253050
std,3.269742,9.126884e+04,0.808840,11.187917,4.582289,601.355233,53.874957
min,1998.000000,1.710000e+02,0.000000,0.440000,0.000000,72.000000,34.200000
25%,2011.000000,3.400000e+04,5.000000,3.500000,15.170000,1198.000000,75.000000
50%,2014.000000,5.300000e+04,5.000000,5.640000,18.150000,1493.000000,97.700000
75%,2016.000000,7.300000e+04,5.000000,9.950000,21.100000,1984.000000,138.100000
max,2019.000000,6.500000e+06,10.000000,160.000000,33.540000,5998.000000,560.000000

In [19]:
df[df['Mileage (kmpl)']==0]

,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Seats,Price,Brand,Series,Type,Mileage (kmpl),Engine (CC),Power (bhp)
14,Pune,2012,85000,Diesel,Automatic,Second,5.0,17.50,Land,Rover,Freelander,0.0,2179.0,115.0
67,Coimbatore,2019,15369,Diesel,Automatic,First,5.0,35.67,Mercedes-Benz,C-Class,Progressive,0.0,1950.0,194.0
79,Hyderabad,2005,87591,Petrol,Manual,First,5.0,1.30,Hyundai,Santro,Xing,0.0,1086.0,NaN
194,Ahmedabad,2007,60006,Petrol,Manual,First,NaN,2.95,Honda,City,1.5,0.0,NaN,NaN
229,Bangalore,2015,70436,Diesel,Manual,First,NaN,3.60,Ford,Figo,Diesel,0.0,1498.0,99.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5647,Mumbai,2001,227000,Diesel,Manual,Fourth & Above,8.0,2.20,Toyota,Qualis,Fleet,0.0,2446.0,NaN
5875,Ahmedabad,2019,4000,Diesel,Automatic,First,5.0,35.00,Mercedes-Benz,C-Class,Progressive,0.0,1950.0,194.0
5943,Chennai,2002,75000,Diesel,Manual,First,6.0,1.70,Mahindra,Jeep,MM,0.0,2112.0,NaN
5972,Mumbai,2008,65000,Petrol,Manual,Second,5.0,1.39,Hyundai,Santro,Xing,0.0,1086.0,62.0
6011,Hyderabad,2009,53000,Petrol,Automatic,First,5.0,4.75,Skoda,Superb,3.6,0.0,3597.0,262.6

In [20]:
df[df['Seats']==0]

,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Seats,Price,Brand,Series,Type,Mileage (kmpl),Engine (CC),Power (bhp)
3999,Hyderabad,2012,125000,Petrol,Automatic,First,0.0,18.0,Audi,A4,3.2,10.5,3197.0,NaN

In [21]:
df['Mileage (kmpl)'] = df['Mileage (kmpl)'].replace(0, np.nan)
df['Seats'] = df['Seats'].replace(0, np.nan)

In [22]:
cat_cols = [col for col in df.columns if df[col].dtypes == 'object']
df[cat_cols].nunique()

Location         11
Fuel_Type         5
Transmission      2
Owner_Type        4
Brand            31
Series          212
Type            339
dtype: int64

In [23]:
['a', 'b']

['a', 'b']

In [24]:
for col in cat_cols:
  print(col, df[col].unique(), '\n')

Location ['Mumbai' 'Pune' 'Chennai' 'Coimbatore' 'Hyderabad' 'Jaipur' 'Kochi'
 'Kolkata' 'Delhi' 'Bangalore' 'Ahmedabad']

Fuel_Type ['CNG' 'Diesel' 'Petrol' 'LPG' 'Electric']

Transmission ['Manual' 'Automatic']

Owner_Type ['First' 'Second' 'Fourth & Above' 'Third']

Brand ['Maruti' 'Hyundai' 'Honda' 'Audi' 'Nissan' 'Toyota' 'Volkswagen' 'Tata'
 'Land' 'Mitsubishi' 'Renault' 'Mercedes-Benz' 'BMW' 'Mahindra' 'Ford'
 'Porsche' 'Datsun' 'Jaguar' 'Volvo' 'Chevrolet' 'Skoda' 'Mini' 'Fiat'
 'Jeep' 'Smart' 'Ambassador' 'Isuzu' 'ISUZU' 'Force' 'Bentley'
 'Lamborghini']

Series ['Wagon' 'Creta' 'Jazz' 'Ertiga' 'A4' 'EON' 'Micra' 'Innova' 'Vento'
 'Indica' 'Ciaz' 'City' 'Swift' 'Rover' 'Pajero' 'Amaze' 'Duster' 'New'
 '3' 'S' 'A6' 'i20' 'Alto' 'WRV' 'Corolla' 'Ssangyong' 'Vitara' 'KUV'
 'M-Class' 'Polo' 'Nano' 'Elantra' 'Xcent' 'Thar' 'Grand' 'KWID' 'i10'
 'X-Trail' 'Zen' 'Figo' 'C-Class' 'Cayenne' 'XUV500' 'Terrano' 'Brio'
 'Fiesta' 'Santro' 'Zest' 'Ritz' '5' 'Fortuner' 'Ecosport' 'Verna' 'GO'
 'Omni' 'Etios' 'XF' 'Eeco' 'Civic' 'V40' 'B' 'Scorpio' 'CR-V' 'SLC' '1'
 'Beat' 'Rapid' 'RS5' 'Superb' 'X5' 'GLC' 'Countryman' 'Optra' 'Lodgy'
 'E-Class' 'Baleno' 'Laura' 'NuvoSport' 'Fabia' 'Indigo' 'Q3' 'Octavia'
 'A8' 'Verito' 'Cooper' 'Santa' 'X1' 'Accent' 'Tucson' 'GLE' 'A-Star'
 'Grande' 'X3' 'EcoSport' 'Q7' 'Jetta' 'GLA' 'Celerio' 'Sumo' 'Accord' '6'
 'Manza' 'Spark' 'Clubman' 'Teana' '800' 'BRV' 'XE' 'Xenon' 'A3'
 'GL-Class' 'BR-V' 'S80' 'Captur' 'Enjoy' 'Bolero' 'Q5' 'Cedia' 'S-Cross'
 'Yeti' 'Endeavour' 'GLS' 'A' 'SX4' 'Camry' 'Mobilio' 'Linea' 'TT'
 'Renault' 'Compass' 'Ikon' 'Sail' 'Quanto' 'Aveo' 'Xylo' 'Esteem'
 'Safari' 'Ignis' 'XJ' 'Sunny' 'SLK-Class' 'Passat' 'Dzire' 'Cruze'
 'Koleos' 'Qualis' 'Ameo' 'redi-GO' 'Fortwo' 'Outlander' 'Cayman' 'CLA'
 'XC60' 'Boxster' 'XUV300' 'Hexa' 'Tiago' '7' 'Avventura' 'Tigor' 'S60'
 'Classic' 'Beetle' 'Petra' 'Getz' 'A7' 'Elite' 'Aspire' 'Tiguan'
 'Captiva' 'Punto' 'TUV' 'X6' 'Bolt' 'Evalia' 'Scala' 'Jeep' 'Sonata'
 'Freestyle' 'Logan' 'Tavera' 'Estilo' 'XC90' 'Pulse' 'Montero' 'Panamera'
 'CrossPolo' 'Fluence' 'Venture' 'Nexon' 'MUX' 'Platinum' 'R-Class'
 'CLS-Class' 'D-MAX' 'S-Class' 'Lancer' 'Redi' 'E' 'Mustang' 'Fusion'
 'Siena' '1000' 'SL-Class' 'Z4' 'Prius' 'One' 'Versa' 'WR-V' 'Continental'
 'Gallardo' 'F']

Type ['R' '1.6' 'V' 'VDI' 'New' 'LPG' 'Diesel' 'Crysta' 'Vista' 'Zeta' '1.5'
 'Range' 'Freelander' 'Sport' 'S' 'DDiS' '85PS' 'C-Class' 'Series' 'Cross'
 '2011-2015' '1.2' 'Petrol' 'Corporate' 'K10' 'i-VTEC' '2.5' '110PS'
 'Altis' 'Rexton' '2.7' 'Brezza' '100' 'ML' 'LXi' 'LX' 'Magna' '2.0'
 'CRDi' '1.1' 'CRDe' 'LDI' 'Ldi' 'i10' '2013-2015' 'RXT' 'Asta' 'SLX'
 'Estilo' 'V2' 'ZX' 'Progressive' 'SHVS' '1.4' '2009-2014' 'W8' 'Sportz'
 'XV' 'VX' 'Xing' 'Revotron' 'SX' 'VDi' 'i' '4x2' 'Transform' 'Plus' '3.0'
 '2015-2017' '5' 'Liva' 'Twist' '2006-2010' 'Class' 'XTA' 'VLX' '2.4'
 'VXi' 'AT' 'VXI' '43' 'VTVT' 'VVT' 'LT' 'Coupe' 'Elegance' 'NXT' 'xDrive'
 '220' 'Cooper' 'Magnum' 'E250' 'Alpha' '1.99' 'ZDI' 'Ambiente' 'N6' 'eCS'
 '2012-2015' '1.3' 'L' 'Style' 'Active' 'Convertible' 'ZDi' 'Fe'
 'sDrive20d' 'Leisure' 'GT' 'Era' 'MPI' '350d' 'Vxi' 'Punto' 'xDrive30d'
 'Quadrajet' '1.0' 'Dzire' '800' '1.9' '2007-2011' '250d' '8' 'Delux' 'LS'
 'Paseo' 'EXi' '45' 'H4' 'ELAN' 'Ambition' 'D' 'Club' 'RS' 'RVi' 'L&K'
 'Classic' 'GD' '3.0d' 'AC' '2009-2013' 'Portfolio' 'LDi' 'XT' '35' '2007'
 'S10' '2006-2013' 'GLE' 'VD' 'D3' 'ZLX' 'GLS' '30' 'Sports' 'Delta' '4.2'
 'Aqua' '4x4' 'E' '2015-2019' 'Hurricane' '2.4L' 'ZXI' 'A/T' 'Vdi' 'G'
 '280' 'T' 'TCDi' 'sDrive' 'W6' 'Logan' '2.2' 'Hatchback' 'C2' '2014-2019'
 '2.8' '220d' 'W10' 'XL' 'S4' 'U-VA' 'E8' 'DI' 'Storme' 'i-DTEC' 'Option'
 'DLS' '2.0L' 'Executive' 'IPL' 'ZXi' 'EX' '1.8' 'SLK' 'Highline' '3.2'
 '2008-2012' 'AMT' 'LTZ' 'Lx' 'Titanium' 'Emotion' 'Aspire' 'LXI' '2.6'
 'XLT' 'W9' 'FS' 'Green' 'Facelift' 'Vitara' '40' '2011-2014' 'Hybrid'
 '2012-2014' '7' 'CDI' 'DX' 'TSI' '2009-2012' '200' '2010-2013' 'D5' 'Lxi'
 'CS' 'Signature' 'Aura' 'Safari' '350' 'XE' 'W4' 'MULTIJET' 'D4' 'Nova'
 'Sigma' 'Discovery' 'M' 'Zxi' 'GTI' 'i20' 'S6' 'Std' 'Countryman' '3.0L'
 'VTi-L' 'xDrive20d' '3' 'Magna(O)' 'Rider' 'EVO' '300' '1.5D' 'Climber'
 '2013' 'T-Jet' 'H2' '1.2L' '1.2P' 'E4' 'SLE' 'MM' 'Embera' 'Adventure'
 'LP' 'Turbo' 'C8' 'H5' 'E270' 'DICOR' 'D2' '2007-2015' 'S2' 'RxL'
 '2001-2003' 'N8' 'Cx' 'mHAWK' '3.6' 'CNG' 'X5' '1.05' '2.5L' '4WD'
 'Etios' '2010' 'GS' 'Wizz' 'RXL' 'S8' 'Base' 'Select' 'W7' '2013-2016'
 'E400' 'C6' 'R350' 'GVS' 'C4' '4X4' '230jM' 'V-Cross' '250' 'GOLD' '320'
 'Exclusive' 'E350' 'Smiles' 'RXZ' '230' 'V6' 'E2' 'Mode' 'VXD' 'GO'
 'Verito' 'V8' 'TRD' '55' 'Aero' 'SL' 'Xi' 'GLXD' '2009-2016' 'STD' 'DX2'
 '5.0' 'XXi' 'Edge' 'W2' 'CX' 'Flying' 'Fleet' 'Ultima' 'Konekt'
 'Magnific' 'Type' 'LEI']

In [25]:
df['Brand'] = df['Brand'].replace('ISUZU', 'Isuzu')

In [26]:
print('Brand', df['Brand'].unique())

Brand ['Maruti' 'Hyundai' 'Honda' 'Audi' 'Nissan' 'Toyota' 'Volkswagen' 'Tata'
 'Land' 'Mitsubishi' 'Renault' 'Mercedes-Benz' 'BMW' 'Mahindra' 'Ford'
 'Porsche' 'Datsun' 'Jaguar' 'Volvo' 'Chevrolet' 'Skoda' 'Mini' 'Fiat'
 'Jeep' 'Smart' 'Ambassador' 'Isuzu' 'Force' 'Bentley' 'Lamborghini']

In [27]:
df['Fuel_Type'].value_counts()

Diesel      3205
Petrol      2746
CNG           56
LPG           10
Electric       2
Name: Fuel_Type, dtype: int64

In [28]:
df['Series'].nunique()

212

In [29]:
df.head()

,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Seats,Price,Brand,Series,Type,Mileage (kmpl),Engine (CC),Power (bhp)
0,Mumbai,2010,72000,CNG,Manual,First,5.0,1.75,Maruti,Wagon,R,26.60,998.0,58.16
1,Pune,2015,41000,Diesel,Manual,First,5.0,12.50,Hyundai,Creta,1.6,19.67,1582.0,126.20
2,Chennai,2011,46000,Petrol,Manual,First,5.0,4.50,Honda,Jazz,V,18.20,1199.0,88.70
3,Chennai,2012,87000,Diesel,Manual,First,7.0,6.00,Maruti,Ertiga,VDI,20.77,1248.0,88.76
4,Coimbatore,2013,40670,Diesel,Automatic,Second,5.0,17.74,Audi,A4,New,15.20,1968.0,140.80

In [30]:
df.describe()

,Year,Kilometers_Driven,Seats,Price,Mileage (kmpl),Engine (CC),Power (bhp)
count,6019.000000,6.019000e+03,5976.000000,6019.000000,5949.000000,5983.000000,5876.000000
mean,2013.358199,5.873838e+04,5.279618,9.479468,18.342252,1621.276450,113.253050
std,3.269742,9.126884e+04,0.806019,11.187917,4.175475,601.355233,53.874957
min,1998.000000,1.710000e+02,2.000000,0.440000,6.400000,72.000000,34.200000
25%,2011.000000,3.400000e+04,5.000000,3.500000,15.300000,1198.000000,75.000000
50%,2014.000000,5.300000e+04,5.000000,5.640000,18.200000,1493.000000,97.700000
75%,2016.000000,7.300000e+04,5.000000,9.950000,21.100000,1984.000000,138.100000
max,2019.000000,6.500000e+06,10.000000,160.000000,33.540000,5998.000000,560.000000

In [31]:
df.describe(include=['object'])

       Location Fuel_Type Transmission Owner_Type   Brand Series  Type
count      6019      6019         6019       6019    6019   6019  6019
unique       11         5            2          4      30    212   339
top      Mumbai    Diesel       Manual      First  Maruti  Swift   1.5
freq        790      3205         4299       4929    1211    353   286

In [32]:
explor.null_checker(df)

                   null (sum)  null (%)
Power (bhp)               143      2.38
Mileage (kmpl)             70      1.16
Seats                      43      0.71
Engine (CC)                36      0.60
Location                    0      0.00
Year                        0      0.00
Kilometers_Driven           0      0.00
Fuel_Type                   0      0.00
Transmission                0      0.00
Owner_Type                  0      0.00
Price                       0      0.00
Brand                       0      0.00
Series                      0      0.00
Type                        0      0.00

In [33]:
df.loc[df['Fuel_Type']=='Electric', 'Mileage (kmpl)'] = df.loc[df['Fuel_Type']=='Electric', 'Mileage (kmpl)'].replace(np.nan, 0)

In [34]:
df.loc[df['Fuel_Type']=='Electric']

,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Seats,Price,Brand,Series,Type,Mileage (kmpl),Engine (CC),Power (bhp)
4446,Chennai,2016,50000,Electric,Automatic,First,5.0,13.00,Mahindra,E,Verito,0.0,72.0,41.0
4904,Mumbai,2011,44000,Electric,Automatic,First,5.0,12.75,Toyota,Prius,2009-2016,0.0,1798.0,73.0

# Preprocessing

In [35]:
# Delete outlier
df = df[~(df.Kilometers_Driven > 1e6)]
df.shape

(6018, 14)

## Train test split

In [36]:
# melakukan train test split di awal untuk mencegah data bocor ke test set saat dilakukan encoding/imputation
features = df.drop(columns=['Price'])
target = df['Price']
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.25, random_state=0)

## Encoding

In [37]:
# One hot encoding
col_to_encode = ['Location', 'Fuel_Type', 'Transmission', 'Owner_Type', 'Brand']
oh_encoder = ce.OneHotEncoder(cols=col_to_encode,
                              use_cat_names=True)
oh_encoder.fit(X_train)

# Encoding train set
X_train = oh_encoder.transform(X_train)
# Encoding test set
X_test = oh_encoder.transform(X_test)

C:\Users\Fikri\anaconda3\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [38]:
# Target encoding/One hot encoding untuk feature dengan kategori yang banyak
col_to_encode = ['Series', 'Type']
target_encoder = ce.TargetEncoder(cols=col_to_encode)
target_encoder.fit(X_train, y_train)

# Encoding train set
X_train = target_encoder.transform(X_train)
# Encoding test set
X_test = target_encoder.transform(X_test)

C:\Users\Fikri\anaconda3\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

## Missing Value Imputation

In [39]:
# memprediksi nilai missing value dengan algoritma 
imputer = mf.KernelDataSet(
  X_train,
  save_all_iterations=True,
  random_state=1991,
  mean_match_candidates=5
)

imputer.mice(10)

In [40]:
# Train set imputation
X_train_full = imputer.complete_data()

In [41]:
# Test set imputation
new_data = imputer.impute_new_data(X_test)
X_test_full = new_data.complete_data()

## Feature Selection

In [42]:
# Memfilter feature dengan korelasi tinggi
corr_price = X_train.join(y_train).corr()['Price']
index = corr_price[(corr_price < -0.20) | (corr_price > 0.20)].index

X_train_full =  X_train_full[index[:-1]]
X_test_full = X_test_full[index[:-1]]

# Modeling

## Functions

In [43]:
def get_cv_score(models, X_train, y_train):
    
    cv = KFold(n_splits=5, shuffle=True, random_state=0)
    summary = []
    for label, model in models.items():
        cv_results = cross_validate(model, X_train, y_train, cv=cv, 
                                    scoring=['r2',
                                             'neg_root_mean_squared_error',
                                             'neg_mean_absolute_error'])
        
        temp = pd.DataFrame(cv_results).copy()
        temp['Model'] = label
        summary.append(temp)
    
    summary = pd.concat(summary)
    summary = summary.groupby('Model').mean()
    
    summary.drop(columns=['fit_time', 'score_time'], inplace=True)
    summary.columns = ['CV R2', 'CV RMSE', 'CV MAE']
    summary[['CV RMSE', 'CV MAE']] = summary[['CV RMSE', 'CV MAE']] * -1
    
    return summary

In [44]:
def evaluate_model(models, X_train, X_test, y_train, y_test):

    summary = {'Model':[], 'Train R2':[], 'Train RMSE':[], 'Train MAE':[],
               'Test R2':[], 'Test RMSE':[], 'Test MAE':[]}

    for label, model in models.items():
        model.fit(X_train, y_train)

        y_train_pred = model.predict(X_train)
        y_test_pred = model.predict(X_test)

        summary['Model'].append(label)

        summary['Train R2'].append(
            metrics.r2_score(y_train, y_train_pred))
        summary['Train RMSE'].append(
            np.sqrt(metrics.mean_squared_error(y_train, y_train_pred)))
        summary['Train MAE'].append(
            metrics.mean_absolute_error(y_train, y_train_pred))

        summary['Test R2'].append(
            metrics.r2_score(y_test, y_test_pred))
        summary['Test RMSE'].append(
            np.sqrt(metrics.mean_squared_error(y_test, y_test_pred)))
        summary['Test MAE'].append(
            metrics.mean_absolute_error(y_test, y_test_pred))
    
    summary = pd.DataFrame(summary)
    summary.set_index('Model', inplace=True)

    cv_scores = get_cv_score(models, X_train, y_train)
    summary = summary.join(cv_scores)
    summary = summary[['Train R2', 'CV R2', 'Test R2',
                       'Train RMSE', 'CV RMSE', 'Test RMSE',
                       'Train MAE', 'CV MAE', 'Test MAE']]
    
    return round(summary.sort_values(by='Test RMSE'), 4)

## Base Model

In [45]:
tree_model = DecisionTreeRegressor()
rf_model = RandomForestRegressor()
xgb_model = XGBRegressor(objective='reg:squarederror')
lgb_model = LGBMRegressor()
cat_model = CatBoostRegressor(silent=True)
lr_model = LinearRegression()
lasso_model = Lasso()

models = {'DecisionTreeRegressor' : tree_model,
          'RandomForestRegressor' : rf_model,
          'XGBRegressor' : xgb_model,
          'CatBoostRegressor' : cat_model,
          'LGBMRegressor' : lgb_model,
          'LinearRegression': lr_model,
          'LassoRegression': lasso_model}

### Unscaled dataset

In [46]:
# evaluasi model memakai function
unscaled = evaluate_model(models, X_train_full, X_test_full, y_train, y_test)

### Scaled dataset

In [47]:
# Scaling data
from sklearn.preprocessing import RobustScaler

scaler = RobustScaler()
scaler.fit(X_train_full)
X_train_full_scaled = scaler.transform(X_train_full)
X_test_full_scaled = scaler.transform(X_test_full)

In [48]:
# evaluasi model memakai function
scaled = evaluate_model(models, X_train_full_scaled, X_test_full_scaled, y_train, y_test)

### Summarizing

In [49]:
unscaled['Dataset Version'] = 'imputed + selected + unscaled'
scaled['Dataset Version'] = 'imputed + selected + scaled'

In [50]:
imputed_selected = pd.concat([unscaled, scaled], axis=0)
imputed_selected

,Train R2,CV R2,Test R2,Train RMSE,CV RMSE,Test RMSE,Train MAE,CV MAE,Test MAE,Dataset Version
Model,,,,,,,,,,
CatBoostRegressor,0.9808,0.9064,0.9075,1.5367,3.3863,3.4717,0.9668,1.4603,1.4506,imputed + selected + unscaled
LGBMRegressor,0.9561,0.9050,0.9024,2.3213,3.4087,3.5672,1.1265,1.4891,1.5095,imputed + selected + unscaled
RandomForestRegressor,0.9800,0.9023,0.8977,1.5686,3.4581,3.6503,0.7783,1.5027,1.5460,imputed + selected + unscaled
DecisionTreeRegressor,0.9907,0.8204,0.8817,1.0687,4.6699,3.9258,0.4730,1.8500,1.7971,imputed + selected + unscaled
XGBRegressor,0.9875,0.8871,0.8747,1.2366,3.7042,4.0404,0.7449,1.5277,1.5738,imputed + selected + unscaled
LassoRegression,0.7917,0.7904,0.7763,5.0571,5.0633,5.3994,2.6957,2.7100,2.8720,imputed + selected + unscaled
LinearRegression,0.7998,0.7952,0.7685,4.9580,5.0039,5.4925,2.7229,2.7455,2.9064,imputed + selected + unscaled
CatBoostRegressor,0.9808,0.9064,0.9075,1.5367,3.3863,3.4717,0.9668,1.4603,1.4506,imputed + selected + scaled
LGBMRegressor,0.9558,0.9059,0.9034,2.3299,3.3926,3.5472,1.1294,1.4847,1.4967,imputed + selected + scaled
RandomForestRegressor,0.9795,0.9024,0.8923,1.5860,3.4560,3.7459,0.7790,1.5106,1.5612,imputed + selected + scaled
XGBRegressor,0.9875,0.8871,0.8747,1.2366,3.7046,4.0405,0.7449,1.5284,1.5738,imputed + selected + scaled
DecisionTreeRegressor,0.9907,0.8357,0.8692,1.0687,4.4683,4.1281,0.4730,1.8070,1.8247,imputed + selected + scaled
LinearRegression,0.7998,0.7952,0.7685,4.9580,5.0039,5.4925,2.7229,2.7455,2.9064,imputed + selected + scaled
LassoRegression,0.7572,0.7547,0.7275,5.4600,5.4751,5.9591,2.5936,2.6119,2.8533,imputed + selected + scaled

In [51]:
imputed_selected.to_csv('imputed_selected.csv')