# Data Importing

In [1]:
import pandas as pd
import numpy as np
import category_encoders as ce
import miceforest as mf
import optuna
import lightgbm as lgb
import xgboost as xgb

from utils import *
from sklearn.model_selection import train_test_split, cross_val_score, cross_validate, KFold
from sklearn.tree import DecisionTreeRegressor
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
from catboost import CatBoostRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression, Lasso
from sklearn import metrics
from sklearn.impute import SimpleImputer

In [2]:
df = pd.read_csv('../data/processed/after_prep.csv')
df.head()

,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Seats,Price,Brand,Series,Type,Mileage (kmpl),Engine (CC),Power (bhp)
0,Mumbai,2010,72000,CNG,Manual,First,5.0,1.75,Maruti,Wagon,R,26.60,998.0,58.16
1,Pune,2015,41000,Diesel,Manual,First,5.0,12.50,Hyundai,Creta,1.6,19.67,1582.0,126.20
2,Chennai,2011,46000,Petrol,Manual,First,5.0,4.50,Honda,Jazz,V,18.20,1199.0,88.70
3,Chennai,2012,87000,Diesel,Manual,First,7.0,6.00,Maruti,Ertiga,VDI,20.77,1248.0,88.76
4,Coimbatore,2013,40670,Diesel,Automatic,Second,5.0,17.74,Audi,A4,New,15.20,1968.0,140.80

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019 entries, 0 to 6018
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Location           6019 non-null   object
 1   Year               6019 non-null   int64
 2   Kilometers_Driven  6019 non-null   int64
 3   Fuel_Type          6019 non-null   object
 4   Transmission       6019 non-null   object
 5   Owner_Type         6019 non-null   object
 6   Seats              5976 non-null   float64
 7   Price              6019 non-null   float64
 8   Brand              6019 non-null   object
 9   Series             6019 non-null   object
 10  Type               6019 non-null   object
 11  Mileage (kmpl)     5951 non-null   float64
 12  Engine (CC)        5983 non-null   float64
 13  Power (bhp)        5876 non-null   float64
dtypes: float64(5), int64(2), object(7)
memory usage: 658.5+ KB

# Preprocessing

In [4]:
# Delete outlier
df = df[~(df.Kilometers_Driven > 1e6)]
df.shape

(6018, 14)

In [5]:
# Drop missing values
df= df.dropna()
null_checker(df)

                   null (sum)  null (%)
Location                    0       0.0
Year                        0       0.0
Kilometers_Driven           0       0.0
Fuel_Type                   0       0.0
Transmission                0       0.0
Owner_Type                  0       0.0
Seats                       0       0.0
Price                       0       0.0
Brand                       0       0.0
Series                      0       0.0
Type                        0       0.0
Mileage (kmpl)              0       0.0
Engine (CC)                 0       0.0
Power (bhp)                 0       0.0

## Train test split

In [6]:
# melakukan train test split di awal untuk mencegah data bocor ke test set saat dilakukan encoding/imputation
features = df.drop(columns=['Price'])
target = df['Price']
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.25, random_state=0)

## Encoding

In [7]:
# encodes = ['Location','Fuel_Type','Transmission','Owner_Type', 'Brand']
# encoder = ce.OneHotEncoder(cols=encodes,
#                           use_cat_names=True)
# encoder.fit(X_train)

# # encoding train set
# X_train = encoder.transform(X_train)

# # encoding test set
# X_test = encoder.transform(X_test)

In [8]:
# Target encoding
col_to_encode = ['Series', 'Type', 'Location', 'Fuel_Type', 'Transmission', 'Owner_Type', 'Brand']
target_encoder = ce.TargetEncoder(cols=col_to_encode)
target_encoder.fit(X_train, y_train)

# Encoding train set
X_train = target_encoder.transform(X_train)
# Encoding test set
X_test = target_encoder.transform(X_test)

## Feature Selection

In [9]:
# Memfilter feature dengan korelasi tinggi
corr_price = X_train.join(y_train).corr()['Price']
index = corr_price[(corr_price < -0.20) | (corr_price > 0.20)].index

X_train_selected = X_train[index[:-1]]
X_test_selected = X_test[index[:-1]]

In [10]:
X_train.shape

(4383, 13)

In [11]:
X_train_selected.shape

(4383, 10)

# Modeling

## Functions

In [12]:
def get_cv_score(models, X_train, y_train):
    
    cv = KFold(n_splits=5, shuffle=True, random_state=0)
    summary = []
    for label, model in models.items():
        cv_results = cross_validate(model, X_train, y_train, cv=cv, 
                                    scoring=['r2',
                                             'neg_root_mean_squared_error',
                                             'neg_mean_absolute_error'])
        
        temp = pd.DataFrame(cv_results).copy()
        temp['Model'] = label
        summary.append(temp)
    
    summary = pd.concat(summary)
    summary = summary.groupby('Model').mean()
    
    summary.drop(columns=['fit_time', 'score_time'], inplace=True)
    summary.columns = ['CV R2', 'CV RMSE', 'CV MAE']
    summary[['CV RMSE', 'CV MAE']] = summary[['CV RMSE', 'CV MAE']] * -1
    
    return summary

In [13]:
def evaluate_model(models, X_train, X_test, y_train, y_test):

    summary = {'Model':[], 'Train R2':[], 'Train RMSE':[], 'Train MAE':[],
               'Test R2':[], 'Test RMSE':[], 'Test MAE':[]}

    for label, model in models.items():
        model.fit(X_train, y_train)

        y_train_pred = model.predict(X_train)
        y_test_pred = model.predict(X_test)

        summary['Model'].append(label)

        summary['Train R2'].append(
            metrics.r2_score(y_train, y_train_pred))
        summary['Train RMSE'].append(
            np.sqrt(metrics.mean_squared_error(y_train, y_train_pred)))
        summary['Train MAE'].append(
            metrics.mean_absolute_error(y_train, y_train_pred))

        summary['Test R2'].append(
            metrics.r2_score(y_test, y_test_pred))
        summary['Test RMSE'].append(
            np.sqrt(metrics.mean_squared_error(y_test, y_test_pred)))
        summary['Test MAE'].append(
            metrics.mean_absolute_error(y_test, y_test_pred))
    
    summary = pd.DataFrame(summary)
    summary.set_index('Model', inplace=True)

    cv_scores = get_cv_score(models, X_train, y_train)
    summary = summary.join(cv_scores)
    summary = summary[['Train R2', 'CV R2', 'Test R2',
                       'Train RMSE', 'CV RMSE', 'Test RMSE',
                       'Train MAE', 'CV MAE', 'Test MAE']]
    
    return round(summary.sort_values(by='Test RMSE'), 4)

## Base Model

In [14]:
tree_model = DecisionTreeRegressor()
rf_model = RandomForestRegressor()
xgb_model = XGBRegressor(objective='reg:squarederror')
lgb_model = LGBMRegressor()
cat_model = CatBoostRegressor(silent=True)
lr_model = LinearRegression()
lasso_model = Lasso()

models = {'DecisionTreeRegressor' : tree_model,
          'RandomForestRegressor' : rf_model,
          'XGBRegressor' : xgb_model,
          'CatBoostRegressor' : cat_model,
          'LGBMRegressor' : lgb_model,
          'LinearRegression': lr_model,
          'LassoRegression': lasso_model}

### Unscaled dataset

In [15]:
# evaluasi model memakai function
unscaled = evaluate_model(models, X_train_selected, X_test_selected, y_train, y_test)

### Scaled dataset

In [16]:
# Scaling data with RobustScaler
from sklearn.preprocessing import RobustScaler

scaler = RobustScaler()
scaler.fit(X_train_selected)
X_train_selected_scaled_r = scaler.transform(X_train_selected)
X_test_selected_scaled_r = scaler.transform(X_test_selected)

In [17]:
# evaluasi model memakai function
scaled = evaluate_model(models, X_train_selected_scaled_r, X_test_selected_scaled_r, y_train, y_test)

### Summarizing

In [18]:
unscaled['Dataset Version'] = 'dropna + selected + unscaled'
scaled['Dataset Version'] = 'dropna + selected + scaled'

In [19]:
dropna_selected = pd.concat([unscaled, scaled], axis=0)
dropna_selected

,Train R2,CV R2,Test R2,Train RMSE,CV RMSE,Test RMSE,Train MAE,CV MAE,Test MAE,Dataset Version
Model,,,,,,,,,,
CatBoostRegressor,0.9894,0.9150,0.9232,1.1300,3.1407,3.2544,0.7227,1.2130,1.2576,dropna + selected + unscaled
LGBMRegressor,0.9657,0.9056,0.8967,2.0282,3.3170,3.7753,0.8705,1.2574,1.3694,dropna + selected + unscaled
RandomForestRegressor,0.9853,0.9004,0.8841,1.3266,3.4119,3.9988,0.5277,1.3215,1.4292,dropna + selected + unscaled
XGBRegressor,0.9956,0.8844,0.8781,0.7283,3.6402,4.1007,0.4730,1.2537,1.4143,dropna + selected + unscaled
DecisionTreeRegressor,0.9989,0.8188,0.8266,0.3578,4.5950,4.8904,0.0979,1.6966,1.7332,dropna + selected + unscaled
LinearRegression,0.8028,0.8018,0.7552,4.8656,4.8721,5.8109,2.6189,2.6321,2.8685,dropna + selected + unscaled
LassoRegression,0.8005,0.8000,0.7524,4.8946,4.8950,5.8439,2.5570,2.5674,2.8026,dropna + selected + unscaled
CatBoostRegressor,0.9894,0.9150,0.9232,1.1300,3.1406,3.2544,0.7227,1.2130,1.2576,dropna + selected + scaled
LGBMRegressor,0.9664,0.9062,0.8954,2.0082,3.3103,3.7988,0.8665,1.2599,1.3675,dropna + selected + scaled
RandomForestRegressor,0.9849,0.8934,0.8806,1.3453,3.5212,4.0585,0.5222,1.3258,1.4405,dropna + selected + scaled
XGBRegressor,0.9956,0.8844,0.8781,0.7283,3.6401,4.1007,0.4730,1.2537,1.4143,dropna + selected + scaled
DecisionTreeRegressor,0.9989,0.8126,0.8178,0.3578,4.6562,5.0132,0.0979,1.7067,1.8139,dropna + selected + scaled
LinearRegression,0.8028,0.8018,0.7552,4.8656,4.8721,5.8109,2.6189,2.6321,2.8685,dropna + selected + scaled
LassoRegression,0.7691,0.7679,0.6884,5.2651,5.2649,6.5558,2.4664,2.4766,2.8149,dropna + selected + scaled

In [20]:
dropna_selected.to_csv('../data/processed/summary_dropna_selected.csv')